<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Московская Федерация Судей</title>
  <link th:href="@{/css/main/header/styleContacts.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/background-page/page.css}" rel="stylesheet" type="text/css">

</head>
<body class="html front not-logged-in no-sidebars page-not">
<div class="page-wrapper" >
  <div class="page">
    <div class="header">
      <header th:insert="html/blocks/header :: header"></header>
      <main>
        Страница контактов
      </main>
    </div>
  </div>
</div>
</body>
</html>