<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Московская Федерация Судей</title>
    <link th:href="@{/css/main/header/styleShop.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/background-page/page.css}" rel="stylesheet" type="text/css">

</head>
<body class="html front not-logged-in no-sidebars page-not">
<div class="page-wrapper-shops">
    <div class="page">
        <div class="header">
            <header th:insert="html/blocks/header :: header"></header>
            <main>
                <div class="main-wrapper">
                    <div id="main" class="clearfix">
                        <div class="container">
                            <div class="item item_1">
                                <div class="img-product">
                                    <img src="/img/shop/tyr-clock.png">
                                </div>
                            </div>
                            <div class="item item_2">
                                <div class="img-product">
                                    <img src="/img/shop/bottle.png">
                                </div>
                            </div>
                            <div class="item item_3">
                                <div class="img-product">
                                    <img src="/img/shop/whistle.png">
                                </div>
                            </div>
                            <div class="item item_4">
                                <div class="img-product">
                                    <img src="/img/shop/pen-black.png">
                                </div>
                            </div>
                            <div class="item item_5">
                                <div class="img-product">
                                    <img src="/img/shop/referee-book.png">
                                </div>
                            </div>
                            <div class="item item_6">
                                <div class="img-product">
                                    <img src="/img/shop/white-jeans.png">
                                </div>
                            </div>
                            <div class="item item_7">
                                <div class="img-product">
                                    <img src="/img/shop/T-shirt-white.png">
                                </div>
                            </div>
                            <div class="item item_8">
                                <div class="img-product">
                                    <img src="/img/shop/white-asics.png">
                                </div>
                            </div>
                            <div class="item item_9">
                                <div class="img-product">
                                    <img src="/img/shop/donat.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>