<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Московская Федерация Судей</title>
    <link th:href="@{/css/main/account/styleRegistration.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/background-page/page.css}" rel="stylesheet" type="text/css">

</head>
<body class="html front not-logged-in no-sidebars page-not">
<div class="page-wrapper" >
    <div class="page">
        <div class="header">
            <header th:insert="html/blocks/header :: header"></header>
            <div class="main-wrapper">
                <div id="main" class="clearfix">
                    <div id="content" class="column">
                        <div class="section-in">
                            <h1 class="title" id="page-title">Заявка</h1>
                            <form method="POST" id="user-login"
                                  accept-charset="UTF-8">
                                <div class="sign-in">
                                    <div class="login-secondName">
                                        <label for="edit-secondName">
                                            <input type="text" id="edit-secondName" name="secondName" value="" size="60"
                                                   maxlength="60"
                                                   placeholder="Введите фамилию" class="form-text-required">
                                        </label>
                                    </div>
                                    <div class="login-firstName">
                                        <label for="edit-firstName">
                                            <input type="text" id="edit-firstName" name="firstName" value="" size="60"
                                                   maxlength="60"
                                                   placeholder="Введите имя" class="form-text-required">
                                        </label>
                                    </div>
                                    <div class="login-email">
                                        <label for="edit-email">
                                            <input type="text" id="edit-email" name="email" value="" size="60"
                                                   maxlength="60"
                                                   placeholder="Введите свою почту" class="form-text-required">
                                        </label>
                                    </div>
                                    <div class="login-pass">
                                        <label for="edit-pass">
                                            <input type="password" id="edit-pass" name="password" value="" size="60"
                                                   maxlength="60"
                                                   placeholder="Придумайте пароль" class="form-text-required">
                                        </label>
                                    </div>
                                    <input type="submit"
                                           id="edit-submit"
                                           name="op" value="Отправить заявку"
                                           class="form-submit">
                                </div>
                            </form>

                            <!--<%&#45;&#45; После отправления заявки выводить на главную страницу,
                            что сообщение об одобрении будет отправленно на почту
                            &#45;&#45;%>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>